@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
}

.alegreya-font {
  font-family: "Alegreya Sans", sans-serif;
}

.collapse {
  font-size: 20px;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, cupcake;
}

a.active {
  color: #ec5951;
}

.my-btn {
  @apply text-white
   font-semibold border-none hover:scale-105 transition-transform duration-200;
}

/* Color 

Orange - #ec5951 - btn
soft green - #28807e - btn
text-color - #9f9f9f
title - #000000

Most popular courses - #f7faef
key features - #ebf6ee

slider gradiant - #f9faef to  #ebf6ee


*/
